@use './../../../helpers/functions' as *;

.Intro {
    height: 1100px;
    width: 100%;
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    flex-wrap: wrap;

    @include Breakpoints(mobile) {
        justify-content: center;
        align-content: center;
        row-gap: 60px;
        height: 850px
    }

    .IntroDesc {
        width: 35%;
        border: solid black 1px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        @include Breakpoints(mobile) {
            order: 2;
            width: 100%;
            height: 30%;
        }

        h1 {
            font-size: 3em;
        }
    }

    img {
        width: 62%;
        object-fit: cover;
        animation: IntroImage 1.5s infinite ease-in-out;


        @include Breakpoints(medium) {
            height: 100%;
        }

        @include Breakpoints(small) {
            width: 59%;
            height: 100%;
        }

        @include Breakpoints(mobile) {
            width: 90%;
            order: 1;
        }
    }
}

@keyframes IntroImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}