@use './../../../../helpers/functions' as *;

.ResumeEducation {
    padding-left: 20px;
    height: max-content;
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    border: {
        left: $ResumeBorderColor;
    }

    span {
        font-style: italic;
        font-weight: bold;
    }

    h2 {
        font-weight: bold;
        position: relative;

        &::before {
            content: '';
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: white;
            border: $ResumeBorderColor;
            position: absolute;
            top: 0;
            left: -29px;
        }
    }

    p:first-of-type {
        border: solid #e5edf9 1px;
        width: max-content;
        padding: 5px 15px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
        background-color: #e5edf9;
    }
}